body {
    margin:0px;
    padding:0px;
    background-color:rgba(0,0,0,0.23)
}
.index-1 {
    margin-top:100px;
}
.index-2 {
    margin-bottom:50px
}
.index-3 {
    text-align:center;
}
.index-4 {
    margin-bottom:10px;
}
.index-5 {
    font-size:25px;
    font-weight:bold;
}
.index-6 {
    font-size:15px;
}
.index-7 {
    font-weight:bold;
}
.detail-1 {
    width:100%;
}
.detail-2 {
    font-size:32px;
}
.detail-3 {
    float:right
}
.detail-4 {
    margin:10px auto;
}
.check-1 {
    padding:0px;
    margin:0px;
    text-align:center;
    font-size:40px;
}
.check-2 {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 80;
}
.check-3 {
    position:fixed;
    z-index: 81;
    left:50%;
    top:50%;
    width:30%;
    transform:translate(-50%,-50%)
}
.check-4 {
    color:red
}
.order-1 {
    position:absolute;
    left:50%;
    top:50%;
    width:50%;
    transform:translate(-50%,-50%)
}
.order-2 {
    margin-top:30px
}
.selectOrder-1 {
    margin-top:100px;
    width:50%
}

.login-1 {
    position:absolute;
    left:50%;
    top:50%;
    width:30%;
    transform:translate(-50%,-50%)
}
.main-1 {
    height:100px;
}
.main-2 {
    line-height:90px;
}
.main-3 {
    margin:0px;
    padding:0px
}
.alterfilm-1 {
    float:right;
}
.addfilm-1 {
    position:absolute;
    left:50%;
    top:50%;
    width:70%;
    transform:translate(-50%,-50%)
}
.addfilm-2 {
    font-size:20px;
    text-align:right
}
